    @font-face {
        font-family: 'Streetbrush';
        src: url(Streetbrush.otf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Gilker';
        src: url(Gliker-RegularCondensed.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    html{
        scroll-behavior: smooth;
        scroll-padding-top: 130px;

    }
    .logo{
        width: 150px;
        height: 150px;
        margin-top: 0px;
        padding-top: 0px;
        position: relative;
        top: 15px;
    }
    .logo img{  
        width: 150px;
        height: 150px;
        margin: 5px;
        padding: 0px;
        padding-left: 10px;
    }
    #burgerinicial{
    position: absolute;

    width: 550px;

    right: -450px;
    top: 190px;

    z-index: 1;
    pointer-events: none;
}
    #respingos{
        position: absolute;
        width: 300px;

        left:0px;
        top:460px;
        z-index: 1;
        pointer-events: none;
    }

    #cavera{
        position: absolute;
        width: 700px;

        left:-350px;
        top:150px;
        z-index: 1;
        pointer-events: none;
    }

    #menuinicio ul{
        display:flex;
        gap: 30px;
        list-style-type: none;
        margin: 1px;
        justify-content: end;
        padding: 40px;
        cursor:pointer;
        padding-left: 30px;
        text-decoration: none;
    }
    #menuinicio li {
    position: relative;
    }

    #menuinicio li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #9c1917;
    transition: width 0.3s ease;
    }

    #menuinicio li:hover::after {
    width: 100%;
    }

    #menuinicio a {
        color: #d8c7ab;
        text-decoration: none;
    }
    #menuinicio a:hover{
    color: #9c1917;
}
    header{
        display: flex;
        font-family: 'Streetbrush', cursive;
        color: #d8c7ab;
        background-color: rgb(2, 2, 2);
        font-size: 34px;
        justify-content: space-between;
        align-items: center;
        height:100px;
        position: sticky;
        top: 0px;
        z-index: 1000;  
        top: 0;
        left: 0;
        width: 100%;
         background: rgba(0,0,0,.75);
        backdrop-filter: blur(8px);
}

    body{
    height: auto;
    width: auto;
    margin: 0px;
    background-color: black;
    background-image: url(fundo1.png);
    background-size:auto;
    background-position: center top;
    background-repeat:no-repeat;
    color: white;
    }
    .inicio{
        color:white;
        display:block;
        text-align: center; 
        min-height: calc(100vh - 130px);
        background-image: url(fundo1.png);
        background-size:auto;
        background-position: center top;
        background-repeat:no-repeat;
       
    }
    .inicio h1{
        margin-block-start:  0px; ;
        margin-block-end: 0px;
        margin-top: -170px;
        font-family: 'Gilker';
        font-size: 60px;
        color: #d8c7ab;
        margin-right: 400px;
    }
    .inicio p{
        color: rgb(253, 248, 224);
        font-family: 'Gilker';
        font-size: 30px;
        margin-right: 400px;
        margin-top: 12px;
    }
    .inicio img{
    width: 900px;
    margin-right: 450px;
    margin-top: -80px;
    pointer-events: none;
    }

    hr{
        margin: -30px;
        color: #d8c7ab;
        size: 0.3px;

    }
    .destaque{
        color:#9c1917
    }
    .btncardapio{
        background-image: url("faixabotao-bg.png");
        background-size: 110% 110%;
        background-repeat: no-repeat;
        background-position: center;
        text-decoration: none;
        width: 450px;
        height: 100px;
        z-index: 10;

        border: none;
        background-color: transparent;
        font-family:'Streetbrush', cursive ;
        font-size: 40px;
        color: white;

        cursor: pointer;
        transition: 0.3s;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0;
        margin-left: 67%;
        margin-top: -100px;
    }
    .btncardapio:hover{
        transform: scale(1.03);
    }


.partes{
    font-family:'Streetbrush', cursive ;
    font-size: 70px;
    display: inline-flex    ;
    background-image: url("faixabotao-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 35px 100px;
    justify-content: center;
    align-items: center ;
    margin: 0px;
    margin-bottom: -30px;
    color: white;

}

.sobrenos {
    background-image: url("fundo1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 8%;
    color: #d8c7ab;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulosobre {
    font-family: 'Streetbrush', cursive;
    font-size: 70px;
    text-align: center;
    color: white;
    margin-bottom: 60px;
    display: inline-flex;
    background-image: url("faixabotao-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 35px 100px;
    justify-content: center;
    align-items: center ;
    margin: 0px;
    margin-bottom: -30px;
}

.conteudosobre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    max-width: 1200px;
    margin: auto;
}

.imagensobre img {
    width: 420px;
    border-radius: 25px;
    border: 2px solid #9c1917;
    box-shadow: 0 0 25px rgba(156, 25, 23, 0.5);
    z-index: 2;

}

.textosobre {
    max-width: 600px;
    font-family: 'Gilker';
}

.textosobre h3 {
    font-size: 45px;
    color: #9c1917;
    margin-bottom: 25px;
}

.textosobre p {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.diferenciais {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 70px;
}

.card {
    width: 280px;
    background-color: #111;
    border: 2px solid #9c1917;
    border-radius: 20px;
    padding: 30px 20px;
    text-align: center;
    font-family: 'Gilker';
    color: #d8c7ab;
    transition: 0.3s ease;
    z-index: 1;
}

.card i {
    font-size: 45px;
    color: #9c1917;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 28px;
    color: white;
    margin-bottom: 15px;
}

.card p {
    font-size: 20px;
    line-height: 1.3;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(156, 25, 23, 0.6);
}

.contato{
    background-image: url("fundo1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 8%;
    color: #d8c7ab;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulocontato{
    font-family: 'Streetbrush', cursive;
    font-size: 70px;
    text-align: center;
    color: white;
    margin-bottom: 60px;
    display: inline-flex;
    background-image: url("faixabotao-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 35px 100px;
    justify-content: center;
    align-items: center ;
    margin: 0px;
    margin-bottom: -30px;
}


#respingos1{
        position: absolute;
        width: 400px;

        left:890px;
        top:740px;
        z-index: 0;
        pointer-events: none;
    }

#respingos2{
        position: absolute;
        width: 190px;
        left:140px;
        top:1290px;
        z-index: 0;
        pointer-events: none;
    }

#cavera1{
    position: absolute;
        width: 600px;

        left:1060px;
        top:1300px;
        z-index: 1;
        pointer-events: none;
}

.contato{
    background-image: url("fundo1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 100px 0 80px 0;

    color: #d8c7ab;
    text-align: center;
}

.titulocontato{
    font-family: 'Streetbrush', cursive;
    font-size: 70px;
    color: white;

    display: flex;
    width: fit-content;

    background-image: url("faixabotao-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    padding: 35px 100px;

    justify-content: center;
    align-items: center;

    margin: 0 auto 30px auto;
}

.frasecontato{
    font-family: 'Gilker';
    font-size: 32px;
    color: white;

    margin-bottom: 60px;
}

.conteudocontato{
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    width: calc(100% - 200px);
    max-width: 1700px;

    margin: auto;

    gap: 60px;
}

.ladoinfo{
    flex: 1;

    background-color: #111;
    border: 2px solid #9c1917;
    border-radius: 20px;

    padding: 45px 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infocontato{
    display: flex;
    flex-direction: column;
    gap: 25px;

    text-align: left;

    font-family: 'Gilker';
    font-size: 25px;
}

.infocontato i{
    color: #9c1917;
    width: 35px;
}

.redescontato{
    display: flex;
    justify-content: center;
    gap: 25px;

    margin-top: 50px;
}

.redescontato a{
    width: 65px;
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #9c1917;
    border-radius: 50%;

    color: #d8c7ab;
    text-decoration: none;
    font-size: 30px;

    transition: .3s;
}

.redescontato a:hover{
    background-color: #9c1917;
    color: white;

    transform: translateY(-8px);

    box-shadow: 0 0 20px rgba(156,25,23,.6);
}

.mapa{
    flex: 1.2;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa iframe{
    width: 100%;
    height: 430px;

    border: 3px solid #9c1917;
    border-radius: 20px;

    box-shadow: 0 0 25px rgba(156,25,23,.5);
}

.btnpedido{
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;

    margin-top: 35px;

    font-family: 'Streetbrush', cursive;
    font-size: 60px;

    color: white;
    text-decoration: none;

    background-image: url("faixabotao-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    padding: 30px 90px;

    transition: .3s;
}

.btnpedido:hover{
    transform: scale(1.05);
}

.rodape{
    background-color: #050505;

    border-top: 2px solid #9c1917;

    padding: 35px;

    text-align: center;
}

.rodape img{
    width: 120px;

    margin-bottom: 15px;
}

.rodape p{
    font-family: 'Gilker';
    color: #d8c7ab;
    font-size: 18px;
}
#respingos3{
        position: absolute;
        width: 200px;
        left:690px;
        top:2770px;
        z-index: 0;
        pointer-events: none;
    }
#caveracoroa{
    position: absolute;
        width: 400px;
        left:10px;
        top:2000px;
        z-index: 0;
        pointer-events: none;
}
#respingos4{
     position: absolute;
        width: 350px;
        left:1100px;
        top:1750px;
        z-index: 0;
        pointer-events: none;
}